@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;500;700&family=League+Spartan:wght@100;300;500;700&display=swap');

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
}

///// PHOTO CONTENT /////

.photo-container {
    @include flex-center;
    padding: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.photo-anchor {
    @include flex-center;
    margin: auto;
    max-width: 90%;
}

.img {
    width: 100%;
}

///// TEXT CONTENT /////

.info-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10%;
}

.info-title {
    color:rgb(255, 255, 255);
    font-size: 2rem;
}

.description {
    font-family: 'Spartan', Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.684);
    line-height: 1.8em;
    padding-right: 5px;
    margin-top: 10%;
}

///// DATEPICKER /////
.datepicker-title {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.date-select {
    width: 30%;
    margin: auto;
    font-size: 1rem;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {

    .photo-container {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .info-container {
        margin-top: 5%;
        padding: 20px;
    }

    .description {
        margin-top: 5%;
    }

    .date-select {
        width: 13%;
        margin: auto;
        font-size: 1rem;
    }
    
}

@media (min-width: 1440px) {

    .photo-container {
        margin: auto;
        margin-top: 2%;
    }

    .photo-anchor {
        max-width: 60%;
    }
    
    .info-container {
        padding: 100px;
        margin: auto;
    }

    .info-title {
        font-size: 2.4rem;
    }

    .description {
        margin: auto;
        letter-spacing: .4px;
        padding-right: 90px;
    }

    .date-select {
        width: 6.5%;
    }
    
}

@media (min-width: 1920px) {

    .info-container {
        padding: 180px;
    }

    .description {
        padding-right: 300px;
    }

    .date-select {
        width: 5%;
    }

}