/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;500;700&family=League+Spartan:wght@100;300;500;700&display=swap');


body,
html,
#root {
    font-family: 'Antonio', Helvetica, Arial, sans-serif;
    height: 100%;
    background-color: rgb(7, 7, 36);
    background-image: url('./assets/background-stars.svg');
    overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-container {
  height: 60px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-title {
  margin: auto 10px;
  color: rgb(255, 255, 255);
}

.nav-link {
  font-family: 'League Spartan';
  font-weight: 700;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #dadada83 !important;
}

.burger {
  color: aliceblue;
  /* width: 50px; */
  font-size: 24px;
}

.dot{
  height: 20px;
  width: 20px;
  background-color: #DEF4FC;
  border-radius: 50%;
  display: inline-block;
}




@media (max-width: 760px) {
  #main-nav-items {
    display: none !important;
  }

}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 150px;
  }

  
}

/* // Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... } */
