
body,
html,
#root {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 100%;
    background-color: rgb(7, 7, 36);
    background-image: url('./assets/background-stars.svg');
    overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ms-auto {
  height: 50px;
}

.burger {
  color: aliceblue;
  width: 50px;

}