/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;500;700&family=League+Spartan:wght@100;300;500;700&display=swap');

/* TODO */
/* SASSify this file */
/* Create mixins for flex and fonts */

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fade-in {
  // animation: planetFade 2s ease 0s 1 normal forwards;
  animation-name: planetFade;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;

  @keyframes planetFade {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
}

@mixin slide-in {
  animation-name: slideIn;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-250px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

body,
html,
#root {
    font-family: 'Antonio', Helvetica, Arial, sans-serif;
    height: 100%;
    background-color: rgb(7, 7, 36);
    background-image: url('/assets/background-stars.svg');
    overflow: scroll;
    -webkit-overflow-scrolling: touch
}

.App {
  @include flex-center;
  flex-direction: column;
  height: 100%;
}

.nav-container {
  height: 60px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-title {
  margin: auto 10px;
  color: rgb(255, 255, 255);
}

.nav-link {
  font-family: 'League Spartan';
  font-weight: 700;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #dadada83 !important;
}

.burger {
  color: aliceblue;

  font-size: 24px;
}

.dot{
  height: 20px;
  width: 20px;
  background-color: #DEF4FC;
  border-radius: 50%;
  display: inline-block;
}

/* PLANET COMPONENT */

.planet-img {
  @include fade-in;
  
  min-width: auto;
  max-width: 50%;
}

.img-container {
  height: 50%;
}

.planet-btn {
  font-family: 'League Spartan';
  letter-spacing: 2px;
}

.planet-name {
  @include fade-in;
  animation-duration: 4s;
  color: aliceblue;
  font-size: 40px;
  width: 88%;
  text-align: center;
}

.planet-desc {
  @include fade-in;
  animation-duration: 5s;
  font-family: 'League Spartan';
  font-weight: 200;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.planet-source {
  @include fade-in;
  animation-duration: 6s;
  font-family: 'League Spartan';
  font-weight: 300; 
  width: 88%;
  text-align: center; 
}

.planet-source > span {
  font-weight: 600;
}

.planet-grid-title {
  font-family: 'League Spartan';
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
}

.planet-grid-info {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  text-align: right;
}

.number {
  display: none;
}

.info-grid {
  @include fade-in;
}

.grid-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  @include slide-in;
}

.grid-block:nth-child(1) {animation-delay: .1s;}
.grid-block:nth-child(2) {animation-delay: .2s;}
.grid-block:nth-child(3) {animation-delay: .3s;}
.grid-block:nth-child(4) {animation-delay: .4s;}


.text-section {
  height: 55%;
}


/* MEDIA QUERIES */
@media (max-width: 760px) {
  #main-nav-items {
    display: none !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {

  body,
  html,
  #root {
    height: 100%;
  }

  #main-nav-items {
    @include fade-in;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 150px;
  }

  .nav-link:hover {
    background-color: #dadada83 !important;
  }

  
  .main {
    height: auto;
  }

  .img-container {
    height: 60%;
    @include flex-center;
  }

  /* .planet-img {
    min-width: 20%;
    max-width: 40%;
  } */

  .text-section {
    height: 66%;
  }

  .text-blurb {
    width: 50%; 
    flex-direction: column;
    justify-content: flex-start;
  }

  .planet-name,
  .planet-desc,
  .planet-source {
    text-align: left !important;
  }

  .planet-btn:hover {
    background-color: #419EBB;
  }
  

  .btn-primary:hover {
    background-color: none !important;
  }

  .btn-group {
    display: none !important;
  }

  .btn-group-2 {
    display: inline-block !important;
    max-width: 45%;
    @include fade-in;
    animation-duration: 3s;
  }

  .tablet-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .planet-btn {
    text-align: left;
    border: #ffffff62 1px solid;
    color: #fff;
    @include slide-in;
    animation-delay: .1s;
  }

  .planet-btn:nth-child(1) {animation-delay: .2s;}
  .planet-btn:nth-child(2) {animation-delay: .3s;}

  .number {
    display: inline;
    margin-right: 10px;
  }

  .info-grid {
    display: grid;
    gap: 10px;
    width: 100%;
    height: 125px;
  }

  .grid-block {
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-around;
    text-align: left;
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .planet-title,
  .planet-grid-info {
    text-align: left;
    padding: 5px;
    font-size: 20px;
  }

}

/* Desktops */
@media (min-width: 1440px) {

  body,
  html,
  #root {
    overflow: hidden;
  } 

  .nav-container {
    @include flex-center;
    flex-direction: row;
    height: auto;
  }

  main {
    flex-direction: row;
  }

  .img-container {
    max-width: 55%;
    height: 100%;
    margin: auto;
  }

  .planet-img {
    min-width: 30%;
  }

  .text-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
  }

  .tablet-info {
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .text-blurb {
    width: 50%;
  }

  .planet-name {
    font-size: 70px;
  }

  .planet-desc {
    font-size: 16px;
  }

  .info-grid {
    width: 80%;
    height: auto;
  }

  .planet-grid-info{
    font-size: 32px;
  }

  .planet-grid-title {
    font-size: 14px;
  }

}

/* // Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... } */
