/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;500;700&family=League+Spartan:wght@100;300;500;700&display=swap');

/* TODO */
/* SASSify this file */
/* Create mixins for flex and fonts */

body,
html,
#root {
    font-family: 'Antonio', Helvetica, Arial, sans-serif;
    height: 100%;
    background-color: rgb(7, 7, 36);
    background-image: url('/assets/background-stars.svg');
    overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-container {
  height: 60px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-title {
  margin: auto 10px;
  color: rgb(255, 255, 255);
}

.nav-link {
  font-family: 'League Spartan';
  font-weight: 700;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #dadada83 !important;
}

.burger {
  color: aliceblue;
  /* width: 50px; */
  font-size: 24px;
}

.dot{
  height: 20px;
  width: 20px;
  background-color: #DEF4FC;
  border-radius: 50%;
  display: inline-block;
}

/* PLANET COMPONENT */

.img-container {
  height: 30%;
}

.planet-btn {
  font-family: 'League Spartan';
  letter-spacing: 2px;
}

.planet-name {
  font-family: 'Antonio';
  color: aliceblue;
  font-size: 40px;
}

.planet-desc {
  font-family: 'League Spartan';
  font-weight: 200;
  color: #fff;
  font-size: 15px;
}

.planet-source {
  font-family: 'League Spartan';
  font-weight: 300; 
}

.planet-source > span {
  font-weight: 600;
}

.planet-grid-title {
  font-family: 'League Spartan';
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}

.planet-grid-info {
  font-family: 'Antonio';
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}


/* MEDIA QUERIES */
@media (max-width: 760px) {
  #main-nav-items {
    display: none !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 150px;
  }

  .nav-link:hover {
    background-color: #dadada83 !important;
  }

}

/* Desktops */
@media (min-width: 1440px) {
  .nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: auto;
  }

}

/* // Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... } */
